.ls-content-table a {
    text-decoration: none;
}

.ls-popup-title {
    font: 25px/16px Arial, Helvetica, sans-serif;
}
.ls-popup-title-ref {
    background-color: black;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
}

.ls-popup-uri {
    text-align: right;
    text-decoration: none;
}

.ls-levelselector {
    line-height: 18px;
    color: #555;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.ls-workstation-marker {
    text-align: center;
}

.ls-room-marker {
    text-align: center;
}

.ls-workstationicon {
    width: 66px;
    height: 32px;
    text-align: center;
    font-size: 23px;
}

.ls-workstationicon-small {
    width: 32px;
    height: 32px;
    text-align: center;
}

#ls-dynamicContentWrapper {
    background: white;
    min-height: 100%;
    width: 100%;
    z-index: 2000;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    left: 0px;
    top: 0px;
    display: none;
}

#ls-dynamicContent {

}

.ls-nav {
  margin-left: 0;
  padding: 0;
  margin-bottom: 18px;
  list-style: none;
}
.ls-nav > li > a {
  text-decoration: none;
  display: block;
  font-size: medium
}
.ls-nav > li > a:hover {
  background-color: #eeeeee;
}
.ls-nav .ls-nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.ls-nav li + .ls-nav-header {
  margin-top: 9px;
}
.ls-nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.ls-nav-tabs:before,
.ls-nav-pills:before,
.ls-nav-tabs:after,
.ls-nav-pills:after {
  display: table;
  content: "";
}
.ls-nav-tabs:after,
.ls-nav-pills:after {
  clear: both;
}
.ls-nav-tabs > li,
.ls-nav-pills > li {
  float: left;
}
.ls-nav-tabs > li > a,
.ls-nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.ls-nav-tabs {
  border-bottom: 1px solid #ddd;
}
.ls-nav-tabs > li {
  display: inline;
  margin-bottom: -1px;
}
.ls-nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.ls-nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.ls-nav-tabs > .active > a,
.ls-nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.ls-nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ls-nav-pills > .active > a,
.ls-nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.ls-route-control {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.ls-routes-title {
    font: 30px/32px Arial, Helvetica, sans-serif;
}

.ls-route-description {
    font: 18px/20px Arial, Helvetica, sans-serif;
}

.ls-route-master-list {
    list-style: none;
    padding-left: 0px;
}

.ls-route-master-list li {
    display: inline;
}

.ls-route-master-list li a {
    font: 28px/30px Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 25px;
    border: 4px;
    border-style: solid;
    border-color: #000000;
    background: #a1a1a1;
    color: white;
    font-weight: bold;
}

.ls-route-list {
    list-style: none;
    padding-left: 0px;
}

.ls-route-list li {
    display: inline;
}

.ls-route-list li a {
    font: 20px/22px Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 25px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
    background: #a1a1a1;
    color: white;
    font-weight: bold;
}

.ls-stop-list {
    padding-left: 25px;
}

.ls-popup-content {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.leaflet-popup-content {
    margin: 6px 9px;
}
